.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px 0;
  position: sticky;
  top: 0;
  z-index: 2;
  background: inherit;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 6px;
  color: white;
}
@media screen and (max-width: 600px) {
  .title {
    font-size: 18px;
  }
}

.emptyState {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
